body{
  padding: 25px;
}
.title {
	color: #5C6AC4;
}
.fieldset {
            margin-bottom: 20px;
            border: 1px solid #ccc;
            padding: 10px;
        }
        input[type="text"],
        input[type="datetime-local"],
        input[type="number"],
        input[type="email"],
        input[type="url"],
        .textarea {
            width: 100%;
            padding: 5px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        input[type="radio"],
        input[type="checkbox"] {
            margin-right: 10px;
        }
        input[type="range"] {
            width: 100%;
        }
        input:invalid {
            border-color: red;
        }
        input:valid {
            border-color: green;
        }